{% extends 'base.html' %}
{% block content %}

<h1>Toy Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ sideeffect.name }}</span>
        <p>Description: {{ sideeffect.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'sideeffects_update' sideeffects.id %}">Edit</a>
        <a href="{% url 'sideeffects_delete' sideeffects.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}