{% extends 'base.html' %}
{% block content %}

<h1>Patient List</h1>

{% for patient in patients %}
  <div class="card">
    <a href="{% url 'detail' patient.id %}">
    <div class="card-content">
      <span class="card-title">{{ patient.name }}</span>
      <p>DOB: {{ patient.dob }}</p>
      <p>City/State: {{ patient.cityState }}</p>
      
    </div>
  </div>
{% endfor %}

{% endblock %}

>>> p = Patient(name="Jessica", dob="07_14_1970",
>>> phoneNo="989-647-7988", address="656 Joy Rd", cityState="Detroit,MI")
>>> p.__dict__
{..., 'id': None, 'name': 'Jessica', 'dob': '07_14_1970',
 'phoneNo': '989-647-7988', 'address': '656 Joy Rd', 'cityState': 'Detroit,MI'}